body {
	background-color: grey;
}

.title {
	
}

#mainContent {
	padding: 40px;
	background-color: red;
}

#gameBoard {
	width: 450px;
	background-color: green;
}

.square {
	border: 1px black solid;
	background-color: white;
	display: inline-block;
	line-height: 60px;
	text-align: center;
	height: 60px;
	width: 60px;
}

.rows .square[player='1'] {
	background-color: lavender;
}

.rows .square[player='2'] {
	background-color: cyan;
}

.rows .square[river] {
	background-color: lightblue;
}

.rows .square[den] {
	background-color: red;
}

.rows .square[trap] {
	background-color: yellow;
}

.rows .square.squareSelected {
	background-color: black;
	color: white;
}
.rows .square.highlighted {
	border: 2px red dotted;
}
#gameStats {
	background-color: red;
}